<div class="check-input-container">
  <div class="row">
      <p><em>Enter text info the source and press the Check button</em></p>
  </div>
  <div>
   <span>Proof hash</span>
    <input 
      type="text" 
      name="proof-hash" 
      id=""
      class="proof-hash"
      value="{{inputHash}}"
    >
  </div>
  <div>
    Source hash
    <input 
      type="text"
      name="source-hash"
      id="" 
      value="{{hashedSource}}"
      class="source-hash"
    >
    <span *ngIf="isMatched" class="tick"></span>
  </div>
  <div>
    Source
    <textarea name="source" id="" cols="30" rows="10" [(ngModel)]="inputSource"></textarea>
  </div>
  <button (click)="checkInput(inputSource)">
    Check Input
  </button>
</div>